<!DOCTYPE html>
<html lang="en">
<head>

	<title>{{{title}}}</title>

	<!-- Required meta tags always come first -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<!-- Main Font -->
	<script src="js/libs/webfontloader.min.js"></script>
	<script>
		WebFont.load({
			google: {
				families: ['Roboto:300,400,500,700:latin']
			}
		});
	</script>

	<!-- Bootstrap CSS -->

	<link rel="stylesheet" type="text/css" href="Bootstrap/dist/css/bootstrap.css">


	<!-- Main Styles CSS -->
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/fonts.min.css">
	<link rel="stylesheet" type="text/css" href="css/menu.css">
	<link rel="stylesheet" type="text/css" href="css/careu.css">

	{{!-- <link rel="stylesheet" type="text/css" href="css/colors.css" --}}
	
	


</head>
<body class="page-has-left-panels page-has-right-panels">


<!-- Preloader -->

<!-- <div id="hellopreloader">
	<div class="preloader">
		<svg width="45" height="45" stroke="#fff">
			<g fill="none" fill-rule="evenodd" stroke-width="2" transform="translate(1 1)">
				<circle cx="22" cy="22" r="6" stroke="none">
					<animate attributeName="r" begin="1.5s" calcMode="linear" dur="3s" repeatCount="indefinite" values="6;22"/>
					<animate attributeName="stroke-opacity" begin="1.5s" calcMode="linear" dur="3s" repeatCount="indefinite" values="1;0"/>
					<animate attributeName="stroke-width" begin="1.5s" calcMode="linear" dur="3s" repeatCount="indefinite" values="2;0"/>
				</circle>
				<circle cx="22" cy="22" r="6" stroke="none">
					<animate attributeName="r" begin="3s" calcMode="linear" dur="3s" repeatCount="indefinite" values="6;22"/>
					<animate attributeName="stroke-opacity" begin="3s" calcMode="linear" dur="3s" repeatCount="indefinite" values="1;0"/>
					<animate attributeName="stroke-width" begin="3s" calcMode="linear" dur="3s" repeatCount="indefinite" values="2;0"/>
				</circle>
				<circle cx="22" cy="22" r="8">
					<animate attributeName="r" begin="0s" calcMode="linear" dur="1.5s" repeatCount="indefinite" values="6;1;2;3;4;5;6"/>
				</circle>
			</g>
		</svg>

		<div class="text">Loading ...</div>
	</div>
</div>-->

<!-- ... end Preloader -->


<!-- Fixed Sidebar Left -->

<div class="fixed-sidebar">
	<div class="fixed-sidebar-left sidebar--small" id="sidebar-left">

		<a href="" class="logo">
			<div class="img-wrap">
				<img src="img/menu-icons/Care.svg" alt="" style="width: 53px;margin-right: 1px; margin-left: -1px;">
			</div>
		</a>

		<div class="mCustomScrollbar" data-mcs-theme="dark">
			<ul class="left-menu">
				<li>
					<a href="#" class="js-sidebar-open">
						<svg class="olymp-menu-icon left-menu-icon"  data-toggle="tooltip" data-placement="right"   data-original-title="OPEN MENU"><use xlink:href="#olymp-menu-icon"></use></svg>
					</a>
				</li>

				
				<li>
					<a href="home">
						<img src="img/menu-icons/home.svg" alt="" class="menu-icon">
					</a>
				</li>
				<li>
					<a href="profile">
						<img src="users/{{{userId}}}/profilepicture" alt="" class="menu-icon" style="border-radius: 100%;width: 40px;height: 40px;">
						</a>
				</li>
				<li>
					<a href="self-care">
						<img src="img/menu-icons/Self Care.svg" alt="" class="menu-icon">
					</a>
				</li>
				<li>
					<a href="meditation">
						<img src="img/menu-icons/Meditation.svg" alt="" class="menu-icon">
					</a>
				</li>
				<li>
					<a href="movement">
						<img src="img/menu-icons/Movement.svg" alt="" class="menu-icon">
					</a>
				</li>
				<li>
					<a href="virtuallearningtips">
						<img src="img/menu-icons/Virtual Learning Tips.svg" alt="" class="menu-icon">
					</a>
				</li>
				<li>
					<a href="maineresources">
						<img src="img/menu-icons/Maine Resources.svg" alt="" class="menu-icon">
					</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="fixed-sidebar-left sidebar--large" id="sidebar-left-1">
		<a href="" class="logo">
			<div class="img-wrap">
				<img src="img/menu-icons/Care_6_white (3).svg" alt="" class="menu-icon" > 
			</div>
			<div class="title-block">
			</div>
		</a>

		<div class="mCustomScrollbar" data-mcs-theme="dark">
			<ul class="left-menu">
				<li>
					<a href="#" class="js-sidebar-open">
						<svg class="olymp-close-icon left-menu-icon"><use xlink:href="#olymp-close-icon"></use></svg>
						<span class="left-menu-title">Collapse Menu</span>
					</a>
				</li>
				<li>
					<a href="Home">
						{{!-- <svg class="olymp-newsfeed-icon left-menu-icon" data-toggle="tooltip" data-placement="right"   data-original-title="NEWSFEED"><use xlink:href="#olymp-newsfeed-icon"></use></svg> --}}
						<img src="img/menu-icons/home.svg" alt="" style="width: 35px;margin-right: 13px;">
						<span class="left-menu-title">Home</span>
					</a>
				</li>
			
					<a href="Profile">
						<img src="users/{{{userId}}}/profilepicture" alt=""  style="border-radius: 100%;width: 40px;height: 40px; margin-right:13px;">
						<span class="left-menu-title">Profile</span>
					</a>
				</li>
			
				<li>
					<a href="self-care">
						<img src= "img/menu-icons/Self Care.svg" alt="" style="width: 35px;margin-right: 13px;">
						<span class="left-menu-title">Self-Care</span>
					</a>
				</li>
				<li>
					<a href="Meditation">
						<img src="img/menu-icons/Meditation.svg" alt="" style="width: 35px;margin-right: 13px;">
						<span class="left-menu-title">Meditation</span>
					</a>
				</li>
				<li>
					<a href="Movement">
						<img src="img/menu-icons/Movement.svg" alt="" style="width: 35px;margin-right: 13px;">
						<span class="left-menu-title">Movement</span>
					</a>
				</li>
				<li>
					<a href="VirtualLearningTips">
						<img src="img/menu-icons/Virtual Learning Tips.svg" alt="" style="width: 35px;margin-right: 13px;">
						<span class="left-menu-title">Virtual Learning Tips</span>
					</a>
				</li>
				<li>
					<a href="MaineResources">
						<img src="img/menu-icons/Maine Resources.svg" alt="" style="width: 35px;margin-right: 13px;">
						<span class="left-menu-title">Maine Resources</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>

<!-- ... end Fixed Sidebar Left -->


<!-- Fixed Sidebar Left -->

<div class="fixed-sidebar fixed-sidebar-responsive">

	<div class="fixed-sidebar-left sidebar--small" id="sidebar-left-responsive">
		<a href="#" class="logo js-sidebar-open">
							<img src="img/menu-icons/Care.svg" alt="" style="width: 40px;margin-right: 16px;">
		</a>

	</div>

	<div class="fixed-sidebar-left sidebar--large" id="sidebar-left-1-responsive">
		<a href="02-ProfilePage.html" class="logo">
			<div class="img-wrap">
				<img src="img/menu-icons/Care_6_white (3).svg" alt="" class="menu-icon">
			</div>
			<div class="title-block">
				
			</div>
		</a>

		<div class="mCustomScrollbar" data-mcs-theme="dark">

			<div class="control-block">
			
			</div>

		

			<ul class="left-menu">
				<li>
					<a href="#" class="js-sidebar-open">
						<svg class="olymp-close-icon left-menu-icon"><use xlink:href="#olymp-close-icon"></use></svg>
						<span class="left-menu-title">Collapse Menu</span>
					</a>
				</li>
				<li>
					<a href="Home">
						{{!-- <svg class="olymp-newsfeed-icon left-menu-icon" data-toggle="tooltip" data-placement="right"   data-original-title="NEWSFEED"><use xlink:href="#olymp-newsfeed-icon"></use></svg> --}}
						<img src="img/menu-icons/home.svg" alt="" style="width: 35px;margin-right: 13px;">
						<span class="left-menu-title">Home</span>
					</a>
				</li>
				<li>
					<a href="Profile">
						<img src="users/{{{userId}}}/profilepicture" alt="" style="width: 40px; height:40px; margin-right: 13px; border-radius:50%">
						<span class="left-menu-title">Profile</span>
					</a>
				</li>
				<li>
					<a href="self-care">
						<img src="img/menu-icons/Self Care.svg" alt="" style="width: 35px;margin-right: 13px;">
						<span class="left-menu-title">Self-Care</span>
					</a>
				</li>
				<li>
					<a href="Meditation">
						<img src="img/menu-icons/Meditation.svg" alt="" style="width: 35px;margin-right: 13px;">
						<span class="left-menu-title">Meditation</span>
					</a>
				</li>
				<li>
					<a href="Movement">
						<img src="img/menu-icons/Movement.svg" alt="" style="width: 35px;margin-right: 13px;">
						<span class="left-menu-title">Movement</span>
					</a>
				</li>
				<li>
					<a href="VirtualLearningTips">
						<img src="img/menu-icons/Virtual Learning Tips.svg" alt="" style="width: 35px;margin-right: 13px;">
						<span class="left-menu-title">Virtual Learning Tips</span>
					</a>
				</li>
				<li>
					<a href="MaineResources">
						<img src="img/menu-icons/Maine Resources.svg" alt="" style="width: 35px;margin-right: 13px;">
						<span class="left-menu-title">Maine Resources</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>

<!-- ... end Fixed Sidebar Left -->


<!-- Fixed Sidebar Right -->



<!-- ... end Fixed Sidebar Right -->


<!-- Fixed Sidebar Right-Responsive -->



<!-- ... end Fixed Sidebar Right-Responsive -->


<!-- Header-BP -->

<header class="header" id="site-header">

	<div class="page-title">
		<h6>{{{title}}}</h6>
	</div>

	<div class="header-content-wrapper">
		
		<div id="loading-post-message"
			style="height: 100%; background: rgba(227, 239, 232, 0.26); width: 110px; position: absolute; right: 0px; display: none; flex-direction: column;">
			<img style="margin: auto; width: 53px;" src="img/loadingspinner-trans.gif" alt="">
			<span style="margin: auto; margin-top: -10px; color:white;">Uploading post... </span>
		</div>
		{{!-- <form class="search-bar w-search notification-list friend-requests">
			<div class="form-group with-button">
				<input class="form-control js-user-search" placeholder="Search here people or pages..." type="text">
				<button>
					<svg class="olymp-magnifying-glass-icon"><use xlink:href="#olymp-magnifying-glass-icon"></use></svg>
				</button>
			</div>
		</form> --}}

		{{!-- <a href="#" class="link-find-friend">Find Friends</a> --}}
	</div>
	

</header>

<!-- ... end Header-BP -->


<!-- Responsive Header-BP -->

<header class="header header-responsive" id="site-header-responsive">

	
	<div class="page-title-mobile">
		<div style="margin: auto;color: white;font-size: initial; margin-left: 10px;">{{{title}}}</div>
	</div>

	<div id='loading-post-message-mobile' style="height: 100%; background: #e3efe842; width: 110px; position: absolute; right: 0px; display:none; flex-direction:column;">
		<img style = 'margin: auto; width: 53px;' src="img/loadingspinner-trans.gif" alt="">
		<span style="margin: auto; margin-top: -10px; color:white;">Uploading post... </span>	
	</div>
	<!-- Tab panes -->
	
	<!-- ... end  Tab panes -->

</header>



<!-- ... end Responsive Header-BP -->
<div class="header-spacer"></div>


<div class="container">
	{{{body}}}
</div>


<!-- Window-popup Update Header Photo -->

<div class="modal fade" id="update-header-photo" tabindex="-1" role="dialog" aria-labelledby="update-header-photo" aria-hidden="true">
	<div class="modal-dialog window-popup update-header-photo" role="document">
		<div class="modal-content">
			<a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
				<svg class="olymp-close-icon"><use xlink:href="#olymp-close-icon"></use></svg>
			</a>

			<div class="modal-header">
				<h6 class="title">Update Header Photo</h6>
			</div>

			<div class="modal-body">
				<a href="#" class="upload-photo-item">
				<svg class="olymp-computer-icon"><use xlink:href="#olymp-computer-icon"></use></svg>

				<h6>Upload Photo</h6>
				<span>Browse your computer.</span>
			</a>

				<a href="#" class="upload-photo-item" data-toggle="modal" data-target="#choose-from-my-photo">

			<svg class="olymp-photos-icon"><use xlink:href="#olymp-photos-icon"></use></svg>

			<h6>Choose from My Photos</h6>
			<span>Choose from your uploaded photos</span>
		</a>
			</div>
		</div>
	</div>
</div>


<!-- ... end Window-popup Update Header Photo -->

<!-- Window-popup Choose from my Photo -->

<div class="modal fade" id="choose-from-my-photo" tabindex="-1" role="dialog" aria-labelledby="choose-from-my-photo" aria-hidden="true">
	<div class="modal-dialog window-popup choose-from-my-photo" role="document">

		<div class="modal-content">
			<a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
				<svg class="olymp-close-icon"><use xlink:href="#olymp-close-icon"></use></svg>
			</a>
			<div class="modal-header">
				<h6 class="title">Choose from My Photos</h6>

				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" data-toggle="tab" href="#home" role="tab" aria-expanded="true">
							<svg class="olymp-photos-icon"><use xlink:href="#olymp-photos-icon"></use></svg>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#profile" role="tab" aria-expanded="false">
							<svg class="olymp-albums-icon"><use xlink:href="#olymp-albums-icon"></use></svg>
						</a>
					</li>
				</ul>
			</div>

			
		</div>

	</div>
</div>

<!-- ... end Window-popup Choose from my Photo -->







<!-- Window-popup-CHAT for responsive min-width: 768px -->



<!-- ... end Window-popup-CHAT for responsive min-width: 768px -->

<!-- JS Scripts -->
<script src="js/jQuery/jquery-3.4.1.js"></script>
<script src="js/libs/jquery.appear.js"></script>
<script src="js/libs/jquery.mousewheel.js"></script>
<script src="js/libs/perfect-scrollbar.js"></script>
<script src="js/libs/jquery.matchHeight.js"></script>
<script src="js/libs/svgxuse.js"></script>
<script src="js/libs/imagesloaded.pkgd.js"></script>
<script src="js/libs/Headroom.js"></script>
<script src="js/libs/velocity.js"></script>
<script src="js/libs/ScrollMagic.js"></script>
<script src="js/libs/jquery.waypoints.js"></script>
<script src="js/libs/jquery.countTo.js"></script>
<script src="js/libs/popper.min.js"></script>
<script src="js/libs/material.min.js"></script>
<script src="js/libs/bootstrap-select.js"></script>
<script src="js/libs/smooth-scroll.js"></script>
<script src="js/libs/selectize.js"></script>
<script src="js/libs/swiper.jquery.js"></script>
<script src="js/libs/moment.js"></script>
<script src="js/libs/daterangepicker.js"></script>
<script src="js/libs/fullcalendar.js"></script>
<script src="js/libs/isotope.pkgd.js"></script>
<script src="js/libs/ajax-pagination.js"></script>
<script src="js/libs/Chart.js"></script>
<script src="js/libs/chartjs-plugin-deferred.js"></script>
<script src="js/libs/circle-progress.js"></script>
<script src="js/libs/loader.js"></script>
<script src="js/libs/run-chart.js"></script>
<script src="js/libs/jquery.magnific-popup.js"></script>
<script src="js/libs/jquery.gifplayer.js"></script>
<script src="js/libs/mediaelement-and-player.js"></script>
<script src="js/libs/mediaelement-playlist-plugin.min.js"></script>
<script src="js/libs/ion.rangeSlider.js"></script>
<script src="js/libs/leaflet.js"></script>
<script src="js/libs/MarkerClusterGroup.js"></script>

<script src="js/main.js"></script>
<script src="js/libs-init/libs-init.js"></script>
<script defer src="fonts/fontawesome-all.js"></script>

<script src="Bootstrap/dist/js/bootstrap.bundle.js"></script>

<!-- SVG icons loader -->
<script src="js/svg-loader.js"></script>
<!-- /SVG icons loader -->

</body>
</html>